body {
    padding-top: 100px; /* Espacio para la barra de navegación fija */
}

.custom-navbar {
    background-color: #471C57 !important;
}

.navbar-brand {
    color: #FBD6D2!important; /* Color del título de la tienda */
    font-size: 30px;
    font-weight: bold;
}

.iconss {
    height: 45px;
    padding-left: 15px;
}

.container {
    margin-top: 50px; /* Espacio entre la barra de navegación y el contenido */
}

@media (min-width: 768px) {
    .container {
        margin-top: 100px; /* Ajuste para dispositivos grandes */
    }
}

.btnAdd, .btnBuy {
    color: #FBD6D2;
    background-color: #471C57;
    border: none;
    padding: 10px 20px;
    text-shadow: -1px -1px 0 #471C57, 1px -1px 0 #471C57, -1px 1px 0 #471C57, 1px 1px 0 #471C57;
    border-radius: 20px; /* Redondea las esquinas del botón */
    display: block;
    margin: 10px auto; /* Centra los botones horizontalmente y añade espacio */
    transition: color 0.3s, background-color 0.3s;
}


footer {
    background-color: #471C57; /* Color de fondo igual al navbar */
    color: #FBD6D2; /* Color de texto */
    padding: 10px 0; /* Padding vertical */
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #FBD6D2; /* Mantiene los enlaces visibles */
}
