body {
    padding-top: 70px;
    /* Espacio para la barra de navegación fija */
}

.navbar-brand {
    color: #FBD6D2 !important;
    /* Cambia el color del título de la tienda */
    font-size: 30px;
    font-weight: bold;
}

.custom-navbar {
    background-color: #471C57 !important;
}

.row {
    overflow-x: auto;
    /* Habilita el desplazamiento horizontal */
    white-space: nowrap;
    /* Evita el salto de línea entre elementos */
}

.col-md-3 {
    display: inline-block;
    /* Hace que las columnas se comporten como elementos en línea */
    float: none;
    /* Anula el comportamiento flotante predeterminado */
}

footer {
    width: 100%;
    /* Asegura que el footer se extienda a lo ancho de la pantalla */
    margin: 0;
    /* Elimina cualquier margen externo que pueda tener */
    padding: 10px 0;
    /* Agrega un padding vertical para espacio interno */
    background-color: #471C57;
    /* El mismo color que el navbar */
    color: #FBD6D2;
    /* Color de texto, ajustable según tus necesidades */
    position: relative;
    /* Posicionamiento relativo */
    bottom: 0;
    /* Asegura que esté al fondo de la página */
}

html {
    height: 100%;
    /* Establece la altura completa para HTML */
}

body {
    display: flex;
    flex-direction: column;
    /* Organiza los contenidos en columna */
    min-height: 100vh;
    /* Altura mínima basada en la altura del viewport */
}

.titleev {
    color: #471C57;
    font-style: bold;
}


.card {
    background-color: black;
    /* Fondo negro para las tarjetas */
    color: #FBD6D2;
    /* Color del texto */
    height: 100%;
    /* Asegurar que todas las tarjetas tengan el mismo alto */
    border: none;
    /* Opcional: elimina el borde de las tarjetas */
}

.card-body {
    display: flex;
    /* Usar flexbox para alinear el contenido */
    flex-direction: column;
    /* Orientación vertical */
    justify-content: center;
    /* Centrar contenido verticalmente */
    align-items: center;
    /* Centrar contenido horizontalmente */
}

.card-title {
    margin: auto;
    /* Centrar el título automáticamente */
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto según necesites */
}

.card img {
    width: 100%;
    /* Asegura que la imagen cubra el ancho de la tarjeta */
    height: auto;
    /* Mantener la proporción de la imagen */
    object-fit: cover;
    /* Asegura que la imagen cubra el espacio sin deformarse */
}

.iconss {
    height: 45px;
    padding-left: 15px;
}
.filter-buttons {
    justify-content: center;
}
.filter-button {
    background-color: #343a40; /* Mismo color que la navbar */
    border-color: #343a40; /* Mismo color que la navbar */
    color: white;
}
.filter-button:hover {
    background-color: #495057; /* Color de fondo al pasar el cursor */
    border-color: #495057;
}
